@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat';
}
.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

#properties-sale {
	display: flex;
	flex-direction: row;
    gap: 10px
}

.card {
    border: solid 1px grey;
    border-radius: 8px;
    height: 80vh;
    width: 25%;
}

.card-img {
    height: 40%;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-body {
    height: 60%;
    text-align: left;
    margin: 10px ;
}

.card-title {
    font-size: large;
}